/* -- 1. LANDING SECTION */
/* 1.1. Basic layout */

.background-img {
  background-image: url('../img/background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logobox {
  top: 13px;
  left: 26px;
  padding: 20px;
}

.logobox img {
  width: 80px;
  height: 80px;
}

section:nth-child(odd) {
  background-color: whitesmoke;
}

/* 1.2. Content */

main {
  flex: 1 0 auto;
  margin-bottom: -50px;
  position: relative;
}

.landing-page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  padding: 0px;
}

.landing-page-title h1 {
  font-size: 50px;
  word-spacing: 10px;
}

.landing-page-title p {
  font-size: 25px;
}

.background-img .down-arrow {
  position: absolute;
  bottom: 10px;
}

.background-img .down-arrow a {
  text-decoration: none;
  color: var(--primary-color);
}

.background-img .down-arrow a i:hover {
  animation: pulse;
  animation-duration: 2s;
}

/* -- 2. ABOUT SECTION -- */
section#about {
  min-height: 100vh;
  background-color: #fff;
  padding-top: 50px;
}

#about h1 {
  margin-top: 0;
}

#about .row {
  margin-top: 30px;
}

#about .row .textcontent {
  margin-top: 0;
  margin-left: 100px;
  padding-top: 20px;
}

#about .row .textcontent a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--blue-color);
}

#about .row .textcontent a:hover {
  text-decoration: underline;
}

.short-about-img img {
  width: 700px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
}

/* -- 3. TEAM MEMBERS -- */

.cards-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 100px;
}

.card {
  margin-right: 30px;
  position: relative;
  padding: 15px;
  border: 3px solid transparent;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card:hover {
  border: 3px solid #2098d1;
}

.card .card-photo {
  width: 150px;
  height: 150px;
  display: block;
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.card:nth-child(1) .card-photo {
  background-image: url('../img/Zarul.jpg');
}

.card:nth-child(2) .card-photo {
  background-image: url('../img/Sufril.jpg');
}

.card:nth-child(3) .card-photo {
  background-image: url('../img/Adib.jpg');
}

.card:nth-child(4) .card-photo {
  background-image: url('../img/manmeet3.jpg');
}

.card:nth-child(5) .card-photo {
  background-image: url('../img/Maziani.jpg');
}

.card:nth-child(6) .card-photo {
  background-image: url('../img/Azlan.jpg');
}

.card .card-description {
  text-align: center;
  font-size: 25px;
}

/* CONTACT */
section#contact {
  background-color: white;
  padding: 15px 100px 50px 100px;
  margin-bottom: 150px;
  height: fit-content;
}

.contact {
  position: relative;
  width: 100%;
  margin-top: 20px;
  display: flex; /*put the divs in a row*/
  justify-content: space-between; /*separates the available divs*/
  align-items: flex-start;
}

.contact h1 {
  color: var(--primary-color);
}

.contact-form {
  position: relative;
  background: var(--light-grey);
  border-radius: 20px;
  width: calc(100% - 400px);
  padding: 60px 40px 20px;
}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  width: 100%;
  display: flex; /*each row is displayed as flex row*/
}

.contact-form .row .input50 {
  width: 50%;
  margin: 0 10px;
}

.contact-form .row .input100 {
  width: 100%;
  margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: #111;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300px;
  margin: 10px 0; /*top & bottom 10px, otherwise gonna stick*/
  resize: none;
}

.contact-form .row textarea {
  height: 150px;
}

.contact-form .row input[type='submit'] {
  background-color: var(--blue-color);
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}

.contact-info {
  position: relative;
  width: 350px;
  background: var(--light-grey);
  padding: 20px 40px 20px;
  border-radius: 20px;
}

.contact-info .info-box i {
  padding: 23px 10px 0 0;
}

.contact-info .info-box i.fas.fa-envelope {
  padding-top: 24px;
}

.contact-info .info-box p {
  font-size: 1rem;
  margin-bottom: 0;
}

.contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.contact-info .info-box .details a {
  color: var(--blue-color);
}

.contact-info i {
  color: var(--primary-color);
}

/* SMALLER SCREEN RESPONSIVENESS */
@media (max-width: 1250px) {
  .short-about-img img {
    width: 600px;
    height: 430px;
  }
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-form .row .input50 {
    width: 100%;
  }
}

/* TABLET RESPONSIVENESS */

@media (max-width: 1068px) {
  .row {
    flex-direction: column;
  }

  #about .row .textcontent {
    margin-left: 0;
  }

  .short-about-img img {
    width: 600px;
    height: 430px;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .row .input50,
  .contact-form .row .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 20px 20px;
  }
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 500px) {
  .landing-page-title h1 {
    font-size: 2rem;
  }
  .landing-page-title p {
    font-size: 1rem;
  }

  .background-img .down-arrow {
    font-size: 10px;
  }

  /* about section */
  .row {
    flex-direction: column;
  }

  .short-about-img img {
    width: 300px;
    height: 215px;
  }

  #about .row {
    margin-top: 0;
  }

  #about .row .textcontent {
    margin-left: 0;
  }

  #about .row .textcontent a {
    font-size: 0.8rem;
  }

  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* contact section */
  section#contact {
    padding: 15px 20px 25px 20px;
  }

  .contact-info .info-box p,
  .contact-info .info-box .details a {
    font-size: 0.8rem;
  }
}
