/* -- GENERAL STYLES -- */
header {
  position: relative;
}

main {
  flex: 1 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.info-box {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.info-box .details {
  position: relative;
  padding-top: 0;
  padding-left: 20px;
}

.info-box p {
  font-size: 1rem;
}

/* MEMBER CARD */
.member {
  border-radius: 20px;
}

/* MEMBER NAME */
.member .member-photo {
  position: relative;
  width: 400;
  height: 400px;
  display: block;
  background-size: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.zarul {
  background-image: url('../img/Zarul.jpg');
}

.sufril {
  background-image: url('../img/Sufril.jpg');
}

.adib {
  background-image: url('../img/Adib.jpg');
}

.manmeet {
  background-image: url('../img/manmeet3.jpg');
}

.maziani {
  background-image: url('../img/Maziani.jpg');
}

.azlan {
  background-image: url('../img/Azlan.jpg');
}

/* -- GENERAL INFO DIV */
.general-info {
  background-color: var(--greyish-color);
  border-radius: 20px;
}

.general-info table {
  padding: 0 20px 0 20px;
}

.general-info table tr {
  vertical-align: top;
}

.general-info table td:nth-child(1) {
  text-align: center;
}

.general-info-mobile {
  display: none;
}

/* -- CONTACTS --*/
#contacts {
  position: relative;
  padding: 0 30px 10px 30px;
  background-color: var(--greyish-color);
  border-radius: 20px;
  height: max-content;
}

#contacts .info-box i {
  padding-top: 22px;
  font-size: 20px;
}

#contacts a {
  color: var(--blue-color);
}

/* -- PUBLICATIONS -- */
#publications {
  position: relative;
  padding: 0 30px 10px 30px;
  background-color: var(--greyish-color);
  border-radius: 20px;
  height: 598px;
  overflow: hidden;
}

#publications .info-box h4,
#publications .info-box .details {
  margin-top: 0;
  padding-top: 0;
}

#publications .details {
  padding-top: 5px;
  margin-bottom: 0;
}

#publications .details .nextline {
  display: block;
  padding-top: 5px;
}

#publications a {
  color: var(--primary-color);
  text-decoration: none;
}
#publications a:hover {
  color: var(--blue-color);
  text-decoration: underline;
}

#expandDiv {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--greyish-color);
  border-radius: 50%;
  opacity: 0.8;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 2px;
}

#expand {
  color: var(--primary-color);
  cursor: pointer;
}

#expand:hover {
  color: var(--blue-color);
}

/* TABLET RESPONSIVENESS */

@media (max-width: 1068px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .member {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .member .member-photo {
    width: 300px;
    height: 350px;
  }
}

@media (max-width: 500px) {
  .general-info table tr td {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #publications {
    height: 1000px;
  }

  #publications .info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
  }

  #publications .info-box .details {
    padding-left: 0;
  }
}
