/test
/components/simpleCmp.php
/views/simpleView.php
._about.php
._favicon.ico
._index.php
/public/css/._about.css
/public/css/._globals.css
/public/img/._001.png
/public/img/._002.png
/public/img/._003.png
/public/img/._004.png
/public/img/._005.png
/public/img/._006.png
/public/img/._Adib.jpg
/public/img/._analysis.png
/public/img/._Azlan.jpg
/public/img/._background.jpg