main {
  margin-top: 120px;
}

section#activities {
  position: relative;
  background-color: white;
  padding: 15px 100px 50px 100px;
  height: fit-content;
  font-size: 1rem;
}

#activities p {
  font-weight: 300px;
}

#activities .activity-infoboxes {
  margin-top: 100px;
}

#activities .cobot {
  height: 100vh;
}

#activities .about-title {
  margin-bottom: 100px;
}

.activity-row {
  display: flex;
  justify-content: center;
}

.activity-row .activity-img {
  flex: 1;
  /* border: 1px solid #ccc; */
}

.activity-row .headline-over-image {
  display: none;
}

.activity-row img {
  width: 500px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.3);
}

.activity-row img:hover {
  opacity: 0.7;
}

.activity-row .activity-body {
  flex: 1;
  padding: 0 60px 0 0;
  height: inherit;
}

.cobot:nth-child(even) > .activity-row > .activity-body {
  order: 1;
}

.cobot:nth-child(even) > .activity-row > .activity-img {
  order: 2;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 25; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal .modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-height: 600px;
  max-width: 900px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px 0;
}

/* Add Animation */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1068px) {
  .modal .modal-content {
    width: 90%;
  }

  .activity-row {
    flex-direction: column;
  }

  .cobot:nth-child(even) > .activity-row > .activity-body {
    order: 2;
  }

  .cobot:nth-child(even) > .activity-row > .activity-img {
    order: 1;
  }

  .activity-row .activity-img {
    display: flex;
    justify-content: center;
  }

  .activity-row img {
    width: 500px;
    height: 350px;
  }

  .activity-row .activity-body {
    padding: 10px 10px 0 10px;
    text-align: justify;
  }

  .activity-row .headline-over-body {
    display: none;
  }

  .activity-row .headline-over-image {
    display: block;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal .modal-content {
    width: 90%;
  }

  .activity-row {
    flex-direction: column;
  }

  .cobot:nth-child(even) > .activity-row > .activity-body {
    order: 2;
  }

  .cobot:nth-child(even) > .activity-row > .activity-img {
    order: 1;
  }

  .activity-row img {
    width: 300px;
    height: 200px;
  }

  .activity-row .activity-body {
    padding: 10px 0 0 0;
    text-align: justify;
  }

  .activity-row .headline-over-body {
    display: none;
  }

  .activity-row .headline-over-image {
    display: block;
  }
}
