main {
  margin-top: 100px;
}

section#contact {
  background-color: white;
  padding: 15px 100px 50px 100px;
  margin-bottom: 150px;
  height: fit-content;
}

.contact {
  position: relative;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact h1 {
  color: var(--primary-color);
}

.contact-form {
  position: relative;
  background: var(--light-grey);
  border-radius: 20px;
  width: calc(100% - 400px);
  padding: 60px 40px 20px;
}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  width: 100%;
  display: flex; /*each row is displayed as flex row*/
}

.contact-form .row .input50 {
  width: 50%;
  margin: 0 10px;
}

.contact-form .row .input100 {
  width: 100%;
  margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: #111;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300px;
  margin: 10px 0; /*top & bottom 10px, otherwise gonna stick*/
  resize: none;
}

.contact-form .row textarea {
  height: 150px;
}

.contact-form .row input[type='submit'] {
  background-color: var(--blue-color);
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}

.contact-info {
  position: relative;
  width: 350px;
  background: var(--light-grey);
  padding: 20px 40px 20px;
  border-radius: 20px;
}

.contact-info .info-box i {
  padding: 23px 10px 0 0;
}

.contact-info .info-box i.fas.fa-envelope {
  padding-top: 24px;
}

.contact-info .info-box p {
  font-size: 1rem;
  margin-bottom: 0;
}

.contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.contact-info .info-box .details a {
  color: var(--blue-color);
  font-size: 0.8rem;
}

.contact-info i {
  color: var(--primary-color);
}

/* SMALLER SCREEN RESPONSIVENESS */
@media (max-width: 1250px) {
  section#contact {
    margin-bottom: 50px;
  }

  .contact-form .row .input50 {
    width: 100%;
  }
}

/* TABLET RESPONSIVENESS */
@media (max-width: 1068px) {
  section#contact {
    margin-bottom: 50px;
  }

  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .row .input50,
  .contact-form .row .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 20px 20px;
  }
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 500px) {
  section#contact {
    padding: 15px 20px 25px 20px;
    margin-bottom: 50px;
  }

  .contact-info .info-box p,
  .contact-info .info-box .details a {
    font-size: 0.8rem;
  }
}
