/* -- 1. LANDING SECTION */
/* 1.1. Basic layout */

.background-img {
  background-color: #fff;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

section:nth-child(odd) {
  background-color: whitesmoke;
}

/* 1.2. Landing Section */

main {
  flex: 1 0 auto;
  margin-bottom: -50px;
  position: relative;
}

.mobile-logo {
  display: none;
}

.landing-page {
  display: flex;
  height: 100%;
  padding: 100px 50px 100px 50px;
  /* border: 1px solid #ccc; */
}

.landing-page .body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* border: 1px solid red; */
}

.landing-page .body h1 {
  font-size: 3.5rem;
  word-spacing: 7px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.landing-page .body p {
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.landing-page button {
  font-size: 1.2rem;
  margin-top: 20px;
  font-family: var(--font-one);
  background: var(--primary-color);
  color: var(--gentle-grey);
  padding: 10px 20px 10px 20px;
  border: none;
  cursor: pointer;
}

.landing-page .body,
.landing-page .video {
  /* border: 1px solid red; */
  height: 100%;
  /* border: 1px solid #ccc; */
}

.landing-page .video {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid red; */
}

.landing-page .video iframe {
  width: 100%;
  height: 80%;
}

/* -- 3. TEAM MEMBERS -- */
section#team-members {
  height: 100vh;
  padding-bottom: 100px;
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  background-color: #f2f2f2;
  background-blend-mode: lighten;
  background-blend-mode: soft-light, screen;
}

.cards-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 100px;
}

.card {
  margin-right: 30px;
  position: relative;
  padding: 15px 10px 15px 10px;
  border: 3px solid transparent;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card:hover {
  border: 3px solid #2098d1;
}

.card .card-photo {
  width: 120px;
  height: 120px;
  display: block;
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.card:nth-child(1) .card-photo {
  background-image: url('../img/Zarul.jpg');
  background-size: 190px;
  background-position-x: -35px;
  background-position-y: -30px;
}

.card:nth-child(2) .card-photo {
  background-image: url('../img/Sufril.jpg');
  background-size: 240px;
  background-position-x: -75px;
  background-position-y: -10px;
}

.card:nth-child(3) .card-photo {
  background-image: url('../img/Adib.jpg');
  background-size: 240px;
  background-position-x: -60px;
  background-position-y: -55px;
}

.card:nth-child(4) .card-photo {
  background-image: url('../img/manmeet3.jpg');
  background-size: 300px;
  background-position-x: -75px;
  background-position-y: -115px;
}

.card:nth-child(5) .card-photo {
  background-image: url('../img/Maziani.jpg');
  background-size: 230px;
  background-position-x: -40px;
  background-position-y: -20px;
}

.card:nth-child(6) .card-photo {
  background-image: url('../img/Azlan.jpg');
  background-size: 220px;
  background-position-x: -45px;
  background-position-y: -25px;
}

.card .card-description {
  text-align: center;
  font-size: 25px;
}

/* SERVICES SECTION */
section#services {
  height: 120vh;
  background-image: linear-gradient(135deg, #fad7a1 10%, #e96d71 100%);
}

.serviceCards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
  padding-bottom: 100px;
}

.serviceCards .serviceCard {
  padding: 30px;
}

.serviceCards .serviceCard:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.serviceCards .serviceCard h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 20px;
}

.serviceCards .serviceCard .icon img {
  max-width: 60px;
}

/* SMALLER SCREEN RESPONSIVENESS */
@media (max-width: 1250px) {
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* TABLET RESPONSIVENESS */

@media (max-width: 1068px) {
  .row {
    flex-direction: column;
  }

  /* landing page */
  .landing-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing-page .body {
    flex: 2;
  }

  .landing-page .btn-div {
    padding-top: 20px;
  }

  .landing-page .body,
  .landing-page .video {
    width: 100%;
  }

  .landing-page .video {
    flex: 3;
    align-items: flex-start;
  }

  .landing-page .video iframe {
    height: 90%;
    width: 100%;
  }

  .landing-page .body .text {
    text-align: center;
  }

  .landing-page .body .text h1 {
    font-size: 2rem;
    letter-spacing: 3px;
  }

  .landing-page .body .text p {
    font-size: 1rem;
    color: grey;
  }

  .landing-page .btn-div {
    text-align: center;
  }

  .landing-page .btn-div button {
    margin-top: 0;
    font-size: 0.8rem;
    border-radius: 0;
  }

  #about .row .textcontent {
    margin-left: 0;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  section#team-members {
    height: 100%;
  }

  section#services {
    height: 100%;
  }

  .serviceCards {
    grid-template-columns: repeat(2, 1fr);
  }

  .serviceCards .serviceCard {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 500px) {
  .mobile-logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
  }

  .mobile-logo img {
    height: 60px;
    width: 60px;
  }

  .landing-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* border: 1px solid #ccc; */
    padding: 100px 20px 50px 20px;
  }

  .landing-page .body {
    flex: 1;
  }

  .landing-page .body .text h1 {
    font-size: 1.5rem;
  }

  .landing-page .body .text p {
    font-size: 0.8rem;
  }

  .landing-page .body .btn-div {
    padding-top: 10px;
  }

  .landing-page .body,
  .landing-page .video {
    width: 100%;
  }

  .landing-page .video {
    flex: 1;
    align-items: flex-start;
  }

  .landing-page .video iframe {
    height: 80%;
    width: 100%;
  }

  /* about section */
  section#about {
    height: 100%;
  }

  #about button {
    font-size: 0.8rem;
    padding: 8px 15px 8px 15px;
  }

  .row {
    flex-direction: column;
  }

  /* team members section */
  section#team-members {
    height: 100%;
  }

  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* services section */
  section#services {
    height: 100%;
  }

  .serviceCards {
    grid-template-columns: repeat(1, 1fr);
  }

  .serviceCards .serviceCard {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}

/* extra small mobile screens */
@media (max-width: 350px) {
  .landing-page .video {
    flex: 1;
    align-items: flex-end;
  }

  .landing-page .video iframe {
    height: 80%;
    width: 100%;
  }
}
